//NAVIGATION
.navigation{
    &__nav{

        @include respond(tab-port){
            height: 0%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba($color-grey-dark-3, 0.98);
            background-position: top;
            background-size: cover;
            overflow-y: hidden;
            transition: 0.8s;
            z-index: 998;        
        }
    }

    &__list {
        list-style: none;

        @include respond(tab-port){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    &__item{
        display: inline-block;
        margin-left: 5rem;
        margin-top: 5rem;

        @include respond(tab-port){
            
            display: block;
            margin-left: 0;
            margin-top: 0;

            &:not(:last-child){
                margin-bottom: 2rem;
            }
        }
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: $color-white;
        text-transform: uppercase;
        display: inline-block;
        font-size: $default-font-size;
        transition: all 0.2s;

        @include respond(tab-port){
            font-size: 3rem;    
        }
    }

    &__link:hover,
    &__link:active{
        color: $color-orange;

        @include respond(tab-port){
            animation: rubber 1s ease-in-out forwards;    
        }
    }

    &__link:link::after,
    &__link:visited::after {
        display: block;
        content: "";
        padding: 0.5rem 0;
        width: 0%;
        border-bottom: 2px solid transparent;
        transition: border-bottom, width 0.7s;

        @include respond(tab-port){
            display: none;
            content: none;
            padding: 0;
            width: 0%;
            border-bottom: none;
            transition: none;
        }
    }

    &__link:hover::after,
    &__link:active::after {
        width: 100%;
        border-bottom: 2px solid $color-orange;

         @include respond(tab-port){
            width: 0%;
            border-bottom: none;
        }
    }
}

//HAMBURGER NAVIGATION
.box-icon{
    @include respond(tab-port){
        padding: 2rem;
    }
}

.icon{
    @include respond(tab-port) {
        margin-top: 2rem;
        margin-left: 2rem;
        width: 4rem;
        height: 3.5rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        z-index: 9999;

        @include respond(phone){
            width: 2.8rem;
            height: 2.5rem;   
        }
    }

    &__span{
        @include respond(tab-port) {
            position: absolute;
            height: 3px;
            width: 100%;
            background: $color-orange;
            border-radius: 6px;
            transition: all 0.25s ease-in-out;
        }

        @include respond(phone){
            height: 2px;
            width: 90%;
        }

        &:nth-child(1){
            @include respond(tab-port) {
                top: 0rem;
            }
        }
        
        &:nth-child(3){
            @include respond(tab-port) {
                top: 2.8rem;
            }

            @include respond(phone){
                top: 2rem;    
            }
        }
    }

    &__span1{
        @include respond(tab-port) {
            position: absolute;
            height: 3px;
            width: 70%;
            background: $color-orange;
            border-radius: 6px;
            transition: all 0.25s ease-in-out;
        }

        @include respond(phone){
            height: 2px;
            width: 60%;
        }

        &:nth-child(2){
            @include respond(tab-port) {
                top: 1.4rem;
            }

            @include respond(phone){
                top: 1rem;    
            }
        }
    }
}

//OPEN CLOSE CLASS ANIMATION
.open {
    position: fixed;
}

.icon.open .icon__span {
    &:nth-child(1) {
        transform: rotate(45deg);
        top: 1.5rem;

        @include respond(phone){
            top: 1rem;    
        }
    }

    &:nth-child(3) {
        transform: rotate(-45deg);
        top: 1.5rem;

        @include respond(phone){
            top: 1rem;    
        }
    }
}

.icon.open .icon__span1 {
    &:nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }
}